.hero {
  text-align: center;
  padding: 50px 0;
  background: #000;
  color: #fff;
}

.hero-text {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.hero-image {
  max-width: 100%;
  max-height: 75vh;
  height: auto;
  display: block;
  margin: 0 auto;
}

.social-icons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically centers the text and icons */
  color: #fff;
  font-size: 1.2em; /* Adjust font size if needed */
}

.social-icons-container span {
  margin-right: 10px;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.social-icons li {
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}
