/* App.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #050000;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 15px;
}

.social-icons li {
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.content {
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #050000;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}
