/* App.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--dark-var-1-color);
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #050000;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  position: relative; /* Ensure nav stays in place */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  justify-content: flex-start; /* Ensure items align to the start */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}


/* Hide the hamburger menu on medium and larger screens */
.menu-icon {
  display: none;
}

/* Content styles */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px); /* Adjust based on the height of nav and footer */
  width: 100%;
  box-sizing: border-box;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  background: #050000;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

/* For small screens (less than 768px) */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #050000;
    padding: 10px;
    z-index: 1; /* Ensure the menu stays on top */
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    font-size: 2em;
    cursor: pointer;
    z-index: 2; /* Ensure the menu icon stays on top */
  }

  
}

/* For larger screens (more than 768px) */
@media (min-width: 769px) {
  .menu-icon {
    display: none; /* Hide the hamburger menu */
  }

  .nav-links {
    display: flex; /* Display the normal nav links */
  }

  
}
