body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--dark-var-1-color);
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #ffffff; /* Keep black on larger screens */
  text-decoration: none;
}

.nav-links a:hover {
  color: #01c29a; /* Example accent color */
} 

.menu-icon {
  display: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  width: 100%;
  box-sizing: border-box;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  background: #000000;
  color: #ffffff;;
  width: 100%;
  box-sizing: border-box;
}

/* Hero Image and Logo Adjustments */
.hero-image {
  max-width: 98%;
  max-height: 75vh;
  height: auto;
  display: block;
  margin: 40px auto; /* Adjusts top and bottom margin for better spacing */
  border: 2px solid white;
  box-sizing: border-box;
}

.navbar-logo {
  height: 50px;
  margin-right: 20px;
  display: block;
}

/* Small Screen Adjustments */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px; /* Align dropdown menu to the right side */
    background-color: rgba(64, 64, 64, 0.9); /* Darker translucent gray background */
    padding: 10px;
    width: fit-content;
    max-width: 90%;
    border-radius: 5px;
    z-index: 1;
  }

  .nav-links li {
    padding: 10px 15px;
    margin: 5px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    color: #ffffff; /* Change to desired color for small screens */
  }

  .menu-icon {
    display: block;
    font-size: 2em;
    cursor: pointer;
    z-index: 2;
  }
}

/* For larger screens (more than 768px) */
@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
  }
}
